header {
    // background-color: wheat;
    width: 100vw;
    // left: 240px;
    height: 100px;
    margin-top: -51.5rem;
    padding-top: 40px;
    padding-left: 10px;
    z-index: -1;


    .icon-add:before{
        // height: 34px;
        // width: 34px;
        font-size:24px;

        padding-left: 16px;
        top: 52px;
        position: absolute;
    }

    h1{

margin-left: 260px;
text-align: left;
font-weight: bold;
font-size: 32px;
letter-spacing: 0px;
color: #000000;
opacity: 1;
    }

}

