.container{
  .loading-indicator {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 200px;
    
    .ant-pagination {
      margin-top: 25px;
      padding-bottom: 32px;
      margin-left: 840px;
      position: relative;
  
      .ant-pagination-options {
        display: none;
      }
    }
    .ant-spin {
      font-size: 20px;
      margin-top: 250px;
    }
    .custom-spin-container {
      .ant-spin-dot-item {
        background-color: #319583; // Replace with your desired color
      }
    }
  }
  .input-wrapper.container-input{
    position: relative;
    margin-top: -16px;
    height: 50px;
    background-color: #F8FAFB;
    margin-bottom: 10px;
  
    .icon-search:before{
        position: absolute;
        top: 40px;
        left: 45px;
        transform: translateY(-50%);
        color: #319583;
        // Add any styles for the prefix icon
      }
    input {
        // position: relative;
        width: 300px;
        height: 40px;
        margin-top: 20px;
        margin-bottom: 17px;
        margin-left: 30px;
        border: 0.5px solid var(--unnamed-color-cfd5da);
        background: #FFFFFF 0% 0% no-repeat padding-box;
        border: 0.5px solid #CFD5DA;
        border-radius: 10px;
        opacity: 1;
        padding-left: 42px;
        color:#949EA9;
        opacity: 1;
        margin-right: 10px;
    }
    .custom-button{

      .icon-filter::before{
          margin-left: -5px;
          width: 16px;
          height: 9px;
          opacity: 1;
          font-size: 9px;
          padding-right: 8px;
          color: #319583;
      }

      width: 95px;
      height: 40px;
      background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box;
      border: 0.5px solid var(--unnamed-color-cfd5da);
      background: #FFFFFF 0% 0% no-repeat padding-box;
      border: 0.5px solid #CFD5DA;
      border-radius: 10px;
      opacity: 1;
      color: #949EA9;
      font-size: 13.5px;

      &.active{
          background-color: #319583;
          color: #FFFFFF;

          .icon-filter::before{
              color: #FFFFFF;
          }
      }
  }

  .dropdown-menu{
      position: absolute;
      top: 68px;
      left: 340px;
      width: 536px;
      height: 310px;
      background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box;
      border: 0.5px solid var(--unnamed-color-cfd5da);
      background: #FFFFFF 0% 0% no-repeat padding-box;
      box-shadow: 0px 0px 24px #3E3F5E29;
      border: 0.5px solid #CFD5DA;
      border-radius: 12px;
      opacity: 1;
      z-index: 1000;
      // background-color: palevioletred;
  
      .dropdown-menu__header{
          display: inline-flex;
          // background-color: #319583;
          padding-top: 24px;
          padding-bottom: 15px;
          padding-left: 24px;
          width: 536px;
  
          h4{
              display: inline-flex;
              font-size: 18px;
              width: 47px;
              height: 21px;
              text-align: left;
              font: normal normal medium 18px/21px ;
              letter-spacing: 0px;
              color: #000000;
              opacity: 1;
          }
  
          .reset-button{
              position: absolute;
              left: 411px;
              // display: inline-flex;
              // margin-left: 330px;
              background-color: #FFFFFF;
              border: none;
              color: #949EA9;
              opacity: 1;
          }
          .apply-button{
              background-color: #FFFFFF;
              left: 473px;
              // display: inline-flex;
              position: absolute;
              border: none;
              // margin-left: 30px;
              color: #319583;
              opacity: 1;
          }
      }

      .dropdown-menu__select{
          // background-color: #319583; 
          height: 230px;
          display: grid;
           grid-template-columns: auto auto;
           padding-left: 24px;
      
 
          label{
              width: 28px;
              height: 16px;
              color: var(--unnamed-color-949ea9);
              text-align: left;
              font: normal normal normal 14px/16px ;
              letter-spacing: 0px;
              color: #949EA9;
              opacity: 1;
              font-weight: 300;
              font-size: 13.5px;
              margin-bottom: 8px;

          }

          .dropdown-menu__select__date{
              // background-color: aliceblue;
              width: 232px;
              height: 56px;
              opacity: 1;


              .icon-calendar::before{
                  position: absolute;
                  color:#949EA9 ;
                  width: 15px;
                  height: 15px;
                  font-size: 12px;
                  top: 3px;
                  right: 3px
              }
              
          }

          .icon-dropdown::before{
              position: absolute;
              color:#949EA9 ;
              width: 5px;
              height: 5px;
              font-size: 5px;
              top: 7px;
              right: 7px;
          }

          .dropdown-menu__select__activity{
              // background-color: aliceblue;
              width: 232px;
              height: 56px;
              opacity: 1;
          }

          .dropdown-menu__select__status{
              // background-color: wheat;
              left: 604px;
              width: 232px;
              height: 56px;
              opacity: 1;
          }
          .dropdown-menu__select__yard{
              // background-color: wheat;
              left: 604px;
              width: 232px;
              height: 56px;
              opacity: 1;
          }

          .dropdown-menu__select__customer{
              // background-color: wheat;
              left: 604px;
              width: 232px;
              height: 56px;
              opacity: 1;
          }
      }
      .ant-select-selector, .ant-picker-input{
              width: 232px;
              height: 32px;
              background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box;
              border: 1px solid var(--unnamed-color-cfd5da);
              background: #FFFFFF 0% 0% no-repeat padding-box;
              border: 1px solid #CFD5DA;
              border-radius: 8px !important;
              opacity: 1;
      }
  }
  }
  .container__body {
    background-color: #f8fafb;
    width: 1200px;
    position: relative;

    margin-left: 240px;
    z-index: -111;
    margin-top: -50px;
    padding-top: 50px;
  
   
  }
  .input-wrapper {
    margin-top: -16px;
    height: 60px;
    background-color: #f8fafb;
  }
  .ant-table-wrapper {
    max-width: 100%;
    background-color: #f8fafb;
    height: auto;
    width: 1070px;
    padding: 4.5px;
  }

  .container-table{
    padding-top: 0px;
    margin-top: 20px;
  }
  .ant-tabs-tabpane {
    max-width: 100%;
    outline: none;
    background-color: #F8FAFB;
    min-height: 675px;
    max-height: 800px;
}
}



.ant-modal.ContainerAdd-modal .ant-modal-content {
  width: 597px;
  height: 890px;
  background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box;
  background: #ffffff 0% 0% no-repeat padding-box;
  border-radius: 10px;
  opacity: 1;
}
// .ant-tabs-content {
//   position: relative;
//   width: 100%;
//   height: 675px;
//   background-color: #f8fafb;
// }

.ant-modal.icon-closes.clossess {
  cursor: pointer;
  margin-left: 150px;
  margin-top: -70px;
  padding: 0px;
}
.ant-modal-body .icon-closess::before {
  font-size: 11px;
  width: 12px;
  margin-left: -29px;
  height: 12px;
  opacity: 1;
  color: #949EA9;
}
.ant-modal-body h1 .icon-close::before {
  font-size: 11px;
  padding-left: 0px !important;
  margin-left: 260px;
  margin-top: -30px;
  width: 12px;
  height: 12px;
  opacity: 1;
  color: #949EA9;
}

.ant-modal-body h1 .icon-close.edit-close::before {
  font-size: 11px;
  padding-left: 0px !important;
  margin-left: 320px;
  width: 12px;
  height: 12px;
  opacity: 1;
  color: #949EA9;
}

.ant-picker.datepicker{
  .ant-picker-input{
     input {
      // background-color: #319583;
      height: 30px;
      margin-top: 17px;
      margin-left: 0px;
      padding-left: 10px;
      border: none;
    }
    .icon-calendar.custom-suffix-icon::before{
      margin-top: 5px;
    }
  }
}

.loading-indicator {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 200px;
  

  .ant-spin {
    font-size: 40px;
    margin-top: 250px;
  }
  .custom-spin-container {
    .ant-spin-dot-item {
      background-color: #319583; 
    }
  }
}